.env
testcases/**
!testcases/**/
!testcases/**/*.spec.ts
!testcases/**/*_report.md
!testcases/helpers/auth.ts
!testcases/test/extracted_testcases.json
!testcases/TEST_COVERAGE.md
*.xlsx
node_modules/
playwright-report/
test-results/
.auth/
